NEXT_PUBLIC_HASURA_URL=http://localhost:18080/v1/graphql
NEXT_PUBLIC_HASURA_WS=ws://localhost:18080/v1/graphql
NEXT_PUBLIC_HASURA_WS_IP=ws://localhost:18080/v1/graphql
NEXT_PUBLIC_HASURA_SECRET=devhasurasecret
NEXT_PUBLIC_API_URL=http://localhost:4000
NEXT_PUBLIC_SITE_ID=628f033e-49b2-4ba0-b1e8-12af4b3895ee
NEXT_PUBLIC_SITE_CODE=MST-25-0001
NEXT_PUBLIC_SITE_NAME="Mampang Revamp Local Test"
NEXT_PUBLIC_SITE_LOCATION="Central Office"
NEXT_PUBLIC_SITE_REGION=Default
NEXT_PUBLIC_SITE_TIMEZONE=Asia/Jakarta
NEXT_PUBLIC_MINIO_URL=http://localhost:19000
NEXT_PUBLIC_DEVICE_CHECK_PROD_MODE=false
NEXT_PUBLIC_DEVICE_CHECK_TIMEOUT_MS=3000
NEXT_PUBLIC_ANPR_IP=localhost
NEXT_PUBLIC_AXLE_IP=localhost
NEXT_PUBLIC_WIM_IP=localhost
WIM_AGENT_STREAM_URL=http://localhost:5001/ws/wim/live
DOCKER_WIM_AGENT_STREAM_URL=http://wb-agent:5001/ws/wim/live
