NEXT_PUBLIC_HASURA_URL=http://hasura.site.jatanlin.test/v1/graphql
NEXT_PUBLIC_HASURA_WS=ws://hasura.site.jatanlin.test/v1/graphql
NEXT_PUBLIC_HASURA_WS_IP=ws://hasura.site.jatanlin.test/v1/graphql
NEXT_PUBLIC_HASURA_SECRET=devhasurasecret
NEXT_PUBLIC_API_URL=http://api.site.jatanlin.test
NEXT_PUBLIC_SITE_ID=e1123daf-a4db-4ee1-88da-ba9bff382f45
NEXT_PUBLIC_SITE_CODE=MST-25-00001
NEXT_PUBLIC_SITE_NAME=Mampang
NEXT_PUBLIC_SITE_LOCATION=Central Office
NEXT_PUBLIC_SITE_REGION=Default
NEXT_PUBLIC_MINIO_URL=http://minio.site.jatanlin.test
NEXT_PUBLIC_DEVICE_CHECK_PROD_MODE=false
NEXT_PUBLIC_DEVICE_CHECK_TIMEOUT_MS=3000
NEXT_PUBLIC_ANPR_IP=localhost
NEXT_PUBLIC_AXLE_IP=localhost
NEXT_PUBLIC_WIM_IP=localhost
