DATABASE_URL=postgres://jatanlin:jatanlin_dev_password@localhost:15432/jatanlin?sslmode=disable
NATS_URL=nats://localhost:14222

SITE_CODE=MST-26-0002
SITE_ID=1f02ee86-aa5d-411a-9d9e-8aba47eca12d
SITE_NAME="Jatanlin 2 - JTL0226"
SITE_LOCATION="Mobile Site Jatanlin 2"
SITE_REGION=Default

ASPNETCORE_URLS=http://localhost:5001
WB_AGENT_PORT=5001
WB_SITE_CODE=MST-26-0002
WB_SITE_ID=1f02ee86-aa5d-411a-9d9e-8aba47eca12d
WB_SESSION_LISTENER_ENABLED=true
WB_SESSION_INTERVAL_SEC=5
WB_CAPTURE_TIMEOUT_SEC=60
WB_CAPTURE_DIRECTION=RIGHT
WB_LOCATION_CODE=GATE-A2
SITE_ADDRESS=Jakarta
SITE_CITY="Jakarta Selatan"
SITE_PROVINCE="DKI Jakarta"
SITE_TIMEZONE=Asia/Jakarta
SITE_CONTACT_NAME="Site Administrator"
SITE_CONTACT_PHONE=
SITE_SELECTOR=2
SITE_LATITUDE=-6.241586
SITE_LONGITUDE=106.825031
